/* Theme */

main {
    background: #ffe5ca;
	color: #647882;
}

.icons-social a {
	color: #647882;
}

.icons-social a svg path{
	fill: #647882;
}

.insights-hero {
    background: linear-gradient(to right, #030d25, #01638a);
}

.hero {
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
    background: linear-gradient(#2c749b, #413c7f);
}

.block {
	position: absolute;
	left: 0;
	right: 0;
}